/*
* Palette from match.com
* Red: #EC6360
* Cyan: #0CA1A3
* Blue: #1173BF;
* Green: #56B87D
*/

html, body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", "Lucida Grande", "Lucida";
  height: 100%;
}

body {
  overflow: hidden;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #1173BF;
  position: relative;
  color: white;
  height: 50px;
  width: 100%;
}

.headerLogo {
  width: 100px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.profileName {
  position: absolute;
  left: 74px;
  top: 17px;
  font-size: 16px;
}

.prospectList {
  position: relative;
  overflow: hidden;
  width: 340px;
  margin-left: 25px;
  margin-top: 30px;
  background-color: white;
  background: linear-gradient(#FAFAFA, #F2F2F2);
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E2E2E2;
  border-top: 1px solid #F7F7F7;
  border-left: 1px solid #EAEAEA;
  border-radius: 5px;
}

.prospectListHeader {
  margin: 0;
  padding: 10px;
  font-size: 15px;
  color: #5F5F5F;
  border-bottom: 1px solid #E4E4E4;
  font-family: "Lucida Grande", "Helvetica";
  background-color: #0CA1A3;
  padding-bottom: 10px;
  background: linear-gradient(#FAFAFA, #F2F2F2);
}

.prospectListContent {
  padding: 20px 15px;
}

.prospectWrapper {
  display: inline-block;
  width: 33%;
  padding: 5% 2.5%;
  text-align: center;
}

.prospect {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}

.prospectName {
  font-size: 0.9rem;
  color: #5F5F5F;
  margin-top: 10px;
}

.prospect.is-comparing {
  opacity: .2;
}

.compareFrame {
  background-image: url("src/assets/images/bg2.png");
  position: absolute;
  top: 80px;
  left: 400px;
  width: 848px;
  height: 436px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity .3s, transform .3s;
  border-radius: 220px;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E2E2E2;
  border-top: 1px solid #E8E8E8;
  border-left: 1px solid #EAEAEA;
}

.compareFrame.is-comparing {
  transform: translateY(0);
  opacity: 1;
}

.compareFrameNames {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #5F5F5F;
  font-family: "Lucida Grande", "Helvetica";
  font-weight: bold;
  text-align: center;
}

.compareFrameName {
  margin: 20px
}

.profilePicture {
  position: absolute;
  cursor: pointer;
  background-image: url("src/assets/images/profile_pic.jpg");
  background-size: cover;
  box-shadow:0px 0px 15px 1px rgba(1,1,1,.2) inset;
  z-index: 1;
  border-radius: 100%;
}


/* mobile blocker*/
.mobileBlocker {
  height: 100%;
  background-image: url("src/assets/images/dating.jpg");
  background-size: cover;
  background-position-x: -363px;
}

.mobileBlocker-header img {
  margin: 10% 29% 5%;
  width: 169px;
}

.mobileBlocker-content {
  width: 100%;
  text-align: center;
}

.mobileBlocker-content h1 {
  font-size: 2rem;
  margin: 0 5% 45% 5%;
}

.mobileBlocker-content span {
  display: inline-block;
  padding: 0 18%;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 40px;
  background-color: rgba(1,1,1,.7);
  width: 100%;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
}
